html {
    scroll-behavior: smooth;
    height: 100%;
    background: rgba(27,145,145,1);
}
body{
    color: white !important;
    background: rgb(80,80,80);
    background: linear-gradient(180deg, rgba(80,80,80,1) 0%, rgba(80,80,80,1) 58%, rgba(27,145,145,1) 100%);
    overflow-x: hidden;
    background-repeat: no-repeat;
}
header{
    position: fixed;
    width: 100%;
    box-sizing: border-box; 
    background-color: rgba(80, 80, 80, .8);
    background-image: url('../img/texturas/Mosaico.png');
    box-shadow: 0px 0px 15px black;
    text-shadow: 1px 1px 1px black;
    font-size: 30px;
    padding: 15px;
    z-index: 3;
    animation: pisca_barra 2s;
}
#conteudo_pag{
    padding-top: 10%;
    padding-left: 10%;
    width: 100%;
    height: 100%;
    text-shadow: 1px 1px 2px black;
    font-size: 30px;
    position: absolute;
    z-index: 1 !important;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,0.6530987394957983) 15%, rgba(207,207,207,0.3449754901960784) 65%, rgba(255,255,255,0) 96%);
}
hr{
    border: 1px solid black !important;
    opacity: 1 !important;
}
footer{
    position: fixed;
    width: 100%;
    background-color: rgba(27, 27, 27, 0.8);
    box-shadow: 0px 0px 15px black;
    text-shadow: 1px 1px 1px black;
    font-size: 30px;
    padding: 5px;
    padding-left: 15px;
    z-index: 2;
    bottom: 0px;
}
a{
    text-decoration: none !important;
    color: white !important;
    transition: color .2s;
}
a:hover{
    color: yellow !important;
}
a::after{
    color:rgb(165, 165, 165);
}
img{
    -webkit-filter: drop-shadow(1px 1px 2px black);
    filter: drop-shadow(1px 1px 2px black);
}
.icone{
    image-rendering: pixelated;
    width: 40px;
}
#form_login{
    position: fixed;
    z-index: 2;
    padding-top: 3%;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.6530987394957983);
    display: none;
}
#background_login{
    position: absolute;
    width: 300px;
    padding-bottom: 50px;
    left: 50%;
    margin-left: -150px;
    background-color: rgba(255, 255, 255, .7);
    box-shadow: 0px 0px 15px black;
    border-radius: 25px;
    padding-top: 5%;
    text-align: center;
    transition: height 5s;
}
#prancheta_cadastro{
    display: none;
}
input{
    padding: 5px;
    border: solid 0px white;
    width: 90%;
    padding-left: 5%;
    font-size: 20px !important;
    transition: box-shadow .2s;
    color: black !important;
}
input:hover{
    box-shadow: 1px 1px 5px black;
}
button{
    color: black !important;
    border: solid 0px white;
    font-size: 20px !important;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px !important;
    transition: box-shadow .2s;
}
button:hover, .button:hover{
    box-shadow: 1px 1px 5px black;
}
.button{
    color: black !important;
    text-decoration: none !important;
    border: solid 0px white;
    font-size: 20px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px !important;
    transition: box-shadow .2s;
    background-color: lightblue;
}
.button:hover{
    color: black !important;
}
div#carrosel_fundo{
    pointer-events: none;
    height: 100%;
    width: 100%;
    top: 0px;
    z-index: 0;
    animation: mostra_bloco 1s;
    box-shadow: 0px 0px 15px black;
}
img.carrosel{
    /* Comente a linha abaixo para desativar o filtro do carrosel */
    -webkit-filter: blur(0px) brightness(1) contrast(10) grayscale(1) hue-rotate(0deg) invert(0.3) opacity(100%) saturate(0) sepia(1); filter: blur(0px) brightness(1) contrast(10) grayscale(1) hue-rotate(0deg) invert(0.3) opacity(100%) saturate(0) sepia(1);
    width: 100%;
    height: 100%;
}
.quadro_index{
    text-align: center;
    width: 100%;
    height: 200px;
    background-color: rgb(27, 145, 145);
    padding: 25px;
}
hr{
    width: 20%;
    border: solid white 2px !important;
    transition: width 1s;
}
hr:hover{
    width: 30%;
}
#quadros_opcoes{
    padding-top: 6%;
}
.quadros_user{
    box-shadow: 0px 0px 15px black;
    border-radius: 25px;
    width: 25%;
    height: 300px;
    float: left;
    margin: 2%;
    margin-left: 5%;
    overflow: hidden;
    font-size: 33px;
    background-size: cover;
    transition: transform .1s;
}
.quadros_user:hover{
    transform: scale(1.03);
}
.detalhe_quadro{
    float: left;
    height: 120px;
    bottom: 0px;
    width: 100%;
    padding-left: 15px;
    padding-top: 15px;
    background-color: rgba(27, 145, 145, .5);
    text-shadow: 1px 1px 3px black;
    -webkit-clip-path: polygon(0% 0%, 00% 0, 100% 0%, 100% 60%, 0 100%, 0 0);
    clip-path: polygon(0% 0%, 0% 0, 100% 0%, 100% 50%, 0 100%, 0);
}
#imagem_veiculos{
    background-image: url("../img/quadros/veiculos.jpg");
}
#imagem_servicos{
    background-image: url("../img/quadros/servicos.jpg");
}
#imagem_configura{
    background-image: url("../img/quadros/configura.jpg");
}
#imagem_clientes{
    background-image: url("../img/quadros/clientes.jpg");
}
#imagem_estoque{
    background-image: url("../img/quadros/estoque.jpeg");
}
#perfil_usuario{
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(27, 27, 27, .8);
    display: none;
}
#transitador{
    width: 0%;
    height: 100%;
    position: fixed;
    top: 0%;
    background-color: rgb(27, 145, 145);
    z-index: 2;
    right: 0%;
    box-shadow: 0px 0px 50px black;
    display: none;
    animation: transita_telas .5s;
}
#lista_servicos{
    padding-top: 8%;
}
#filtrador_servicos{
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}
#bttn_todos_servicos{
    opacity: 0;
}
.quadros_servicos{
    box-shadow: 0px 0px 15px black;
    border-radius: 10px;
    width: 42%;
    height: 200px;
    float: left;
    margin: 1%;
    margin-left: 5%;
    overflow: hidden;
    font-size: 33px;
    background-size: cover;
    transition: width .1s, margin-left .1s;
    text-shadow: 1px 1px 4px black;
}
.quadros_servicos:hover{
    width: 43%;
    margin-left: 4%;
}
.bk_iniciar{
    background-image: url('../img/quadros/iniciar_servico.png');
}
.bk_add_peca{
    background-image: url('../img/quadros/add_tool.jpg');
}
.bk_tools{
    background-image: url('../img/quadros/tools.jpg');
}
.bk_finalizado{
    background-image: url('../img/quadros/veiculos.jpg');
}
.bk_andamento{
    background-image: url('../img/banners/oficina2.jpg');
}
.bk_interrompido{
    background-image: url('../img/quadros/interrompido.jpg');
}
.bk_pagamento{
    background-image: url('../img/quadros/aguardando.jpg');
}
.bk_cancelado{
    background-image: url('../img/quadros/cancelado.jpg');
}
.status_sv{
    float: left;
    z-index: 1;
    height: 100%;
    bottom: 0px;
    width: 28%;
    padding-left: 15px;
    padding-top: 15px;
    text-shadow: 1px 1px 3px black;
    -webkit-clip-path: polygon(0% 0%, 100% 0, 80% 0%, 100% 100%, 0 100%, 0 0);
    clip-path:         polygon(0% 0%, 100% 0, 80% 0%, 100% 100%, 0 100%, 0 0);
}
.sv_iniciar{
    width: 34%;
    background-color: rgba(32, 76, 219, .6);
}
.sv_finalizado{
    background-color: rgba(53, 238, 53, .6);
}
.sv_andamento{
    background-color: rgba(255, 255, 0, .6);
}
.sv_interrompido{
    background-color: rgba(255, 0, 0, .6);
}
.sv_pagamento{
    background-color: rgba(255, 145, 0, .6);
}
.sv_cancelado{
    color: white !important;
    background-color: rgba(0, 0, 0, .6);
}
.sv_cancelado:hover{
    color: white !important;
}
.sv_peca{
    background-color: rgba(27, 145, 145, .6);
}
.infos_servicos{
    z-index: 2;
    padding-left: 30%;
    width: 100%;
    height: 50%;
}
#quadro_edicao_dados{
    width: 100%;
    height: 100%;
    padding: 30px;
    padding-top: 10%;
}
#grupo_inputs_edit_user{
    width: 50%;
    margin-left: 25%;
}
#grupo_inputs{
    width: 40%;
}
#grupo_selects{
    position: absolute;
    width: 38.3%;
    right: 5%;
    top: 24.3%;
}
.input_edit{
    width: 100%;
    margin-top: 15px;
}
select{
    width: 100%;
    font-size: 25px !important;
}
#botao_cancelar{
    background-color: rgb(209, 0, 0);
    padding: 10px;
    right: 1%;
    font-size: 20px;
    position: absolute;
    margin-top: 7%;
    transition: background-color .2s, border .2s, box-shadow .2s;
    border-radius: 10px;
    border: solid 2px rgb(177, 0, 0);
}
#botao_cancelar:hover{
    color: white !important;
    background-color: rgb(160, 0, 0);
    border: solid 2px rgb(112, 0, 0);
    box-shadow: 1px 1px 3px black;
}
#button_att{
    position: absolute;
    top: 90%;
    width: 96%;
    left: 2%;
    transition: background-color .2s;
}
#button_att:hover{
    background-color: rgb(175, 175, 175);
}
#button_add{
    margin-top: 15%;
    width: 100%;
    background-color: rgb(119, 255, 119);
    transition: background-color .2s;
}
#button_add:hover{
    background-color: rgb(82, 173, 82);
}
#config_perfil{
    display: none;
}
#lista_veiculos{
    padding-top: 7%;
}
.quadro_infos{
    padding: 25px;
    width: 25%;
    height: 60%;
    float: left;
    text-align: center;
    margin: 2%;
    padding-top: 5%;
    margin-left: 5%;
    font-size: 33px;
}
.quadros_veiculos{
    box-shadow: 0px 0px 15px black;
    border-radius: 25px;
    width: 25%;
    height: 60%;
    float: left;
    margin: 2%;
    margin-left: 5%;
    overflow: hidden;
    font-size: 33px;
    background-size: cover;
    transition: transform .1s;
}
.quadros_user:hover{
    transform: scale(1.03);
}
.detalhe_quadro_veiculo_cima{
    float: left;
    height: 150px;
    bottom: 0px;
    width: 100%;
    padding-left: 15px;
    padding-top: 15px;
    background-color: rgba(27, 145, 145, .5);
    text-shadow: 1px 1px 3px black;
    -webkit-clip-path: polygon(0% 0%, 00% 0, 100% 0%, 100% 60%, 0 100%, 0 0);
    clip-path: polygon(0% 0%, 0% 0, 100% 0%, 100% 50%, 0 100%, 0);
}
.detalhe_quadro_veiculo_baixo{
    float: left;
    height: 100px;
    bottom: 0px;
    width: 100%;
    padding-top: 35px;
    margin-top: 130px;
    padding-left: 15px;
    background-color: rgba(14, 83, 83, 0.5);
    text-shadow: 1px 1px 3px black;
    -webkit-clip-path: polygon(0% 0%, 00% 0, 100% 0%, 100% 60%, 0 100%, 0 0);
    clip-path: polygon(0 31%, 100% 10%, 100% 100%, 0% 100%);
}
#filtro_pecas{
    margin-left: 5%;
    width: 90%;
    padding-top: 3%;
    padding-bottom: 2%;
}
#barra_pesquisa{
    width: 100%;
    border-radius: 5px;
    box-shadow: 0px 0px 15px black;
}
.quadros_pecas{
    box-shadow: 0px 0px 15px black;
    border-radius: 10px;
    width: 20%;
    height: 200px;
    float: left;
    margin: 1%;
    margin-left: 3%;
    overflow: hidden;
    font-size: 33px;
    background-size: cover;
    transition: width .1s, margin-left .1s;
    text-shadow: 1px 1px 4px black;
}
.quadros_pecas:hover{
    width: 21%;
    margin-left: 2.5%;
}
.peca_sv{
    float: left;
    z-index: 1;
    height: 100%;
    bottom: 0px;
    width: 60%;
    padding-left: 15px;
    padding-top: 15px;
    text-shadow: 1px 1px 3px black;
    -webkit-clip-path: polygon(0% 0%, 100% 0, 80% 0%, 100% 100%, 0 100%, 0 0);
    clip-path:         polygon(0% 0%, 100% 0, 80% 0%, 100% 100%, 0 100%, 0 0);

}
#lista_pecas{
    padding-top: 8%;
}